#window {
    background-color: #002b37;
    margin: 0;
}

#input {
    margin: 0;
    color: #819396;
    background-color: #002b37;
}

#inner-box {
    padding: 0;
    border: 0;
    background-color: #002b37;
}

#scroll {
    margin: 0;
    border: 0;
    padding: 0;
}

#text {
    margin: 1px;
    border: 0;
    color: #819396;
    font-size: 12.8pt;
}

#entry:selected {
    background-color: #003642;
}
