* {
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px 0 2px 10px;
}

window#waybar {
    font-family: Hack-Regular;
    font-size: 11px;
    background: #002B36;
    color: #bcc3c3;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #466D78;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    color: #bcc3c3;
    background: #4c4d55;
    border-bottom: 3px solid pink;
}

#mode, #clock {
    font-family: Hack;
    font-size: 9pt;
}

#tray {
    font-family: sans-serif;
    font-size: 12pt;
    padding: 2px 10px;
}

#clock {
    background-color: transparent;
}
